{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Exhibition {% endblock %}

  <!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="c-subheader px-3">
<!--          &lt;!&ndash; Breadcrumb&ndash;&gt;-->
<!--          <ol class="breadcrumb border-0 m-0">-->
<!--            <li class="breadcrumb-item">Home</li>-->
<!--            <li class="breadcrumb-item"><a href="#">Admin</a></li>-->
<!--            <li class="breadcrumb-item active">Dashboard</li>-->
<!--            &lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
<!--          </ol>-->
        </div>
<main class="c-main">
    <h3>Product {{product.title}}</h3>
    <div class="container-fluid">
      <div class="fade-in">
          <div class="row">
            &nbsp;<button onclick="location.href='/product-image-add/{{product.id}}'" class="btn btn-pill btn-success" type="button">
                <svg class="c-icon">
                  <use xlink:href="{% static 'assets/vendors/@coreui/icons/svg/free.svg#cil-library-add' %}"></use>
                </svg>&nbsp;Tambah Image {{product.title}}
              </button>
        </div>
        <br>
        <div class="row">
          {% for data in dataset %}
          <div class="col-sm-5 col-md-3">
            <div class="card">
              <img src="{{data.image.url}}" class="card-img-top" alt="..."> 
               <div class="card-body">
                  <h5 class="card-text">{{data.name}}</h5>
                  <h5 class="card-text">ranking: {{data.ranking}}</h5>
                </div>
               <div class="card-body">
                    <button onclick="location.href='/product-image/change/{{data.id}}'" class="btn btn-info" type="button">Ubah</button>
                    <button onclick="location.href='/product-image/delete/{{data.id}}'" class="btn btn-danger" type="button">Hapus</button>
                </div>
            </div>
          </div>
          <!-- /.col-->
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Plugins and scripts required by this view-->
    <script src="{% static 'assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js' %}"></script>
    <script src="{% static 'assets/vendors/@coreui/utils/js/coreui-utils.js"' %}></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

{% endblock javascripts %}